[contentEditable="true"] {
  outline: none;
}

.pageContainer {
  height: 100vh;
  background-color: black;
  padding: 2.5%;
  gap: 1rem;
}

.widgetsContainer {
  height: 86vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.leftDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 12vh 12vh 15vh 12vh 23vh;
  gap: 1.5rem;
  padding-left: 3vw;
}

.userInfo {
  background-color: #5746ea;
  grid-row: span 2;
  color: white;
  border-radius: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 3vh;
}

.displayPic {
  background-image: url("../assets/userPic.png");
  grid-row: span 2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.personalDetails {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.genreChips {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vh;
}

.genreChip {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #9f94ff;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
  font-size: 0.7rem;
}

.notes {
  background-color: #f1c75b;
  grid-row: span 3;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 90%;
  border-radius: 1.25rem;
  margin-left: 10%;
}

.notesTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  grid-row: span 1;
}

.notesTitle h2 {
  color: black;
}

.notesContent {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  grid-row: span 4;
}

.notesContent p {
  color: black;
}

.watchDetails {
  background-color: #1e2343;
  grid-row: span 2;
  grid-column: span 2;
  border-radius: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2vh;
}

.weatherInfo {
  background-color: orange;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4vh 5.5vh 5.5vh;
  border-radius: 1.25rem;
  background-color: #101744;
}

.timeDate {
  grid-column: span 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff4ade;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.rightDiv {
  background-color: transparent;
  display: grid;
  grid-template-rows: 1.2fr 0.8fr;
  width: 80%;
  height: 86vh;
  margin-left: 3vw;
}

.imageContainer {
  background-color: grey;
  background-image: url("../assets/everest.png");
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  display: flex;
  flex-direction: column-reverse;
}

.cardTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  background-color: rgb(0, 0, 0, 0.75);
  padding: 4vh;
  font-weight: bolder;
}

.textContainer {
  background-color: white;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  padding: 1.5vw;
}

.cardText {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: black;
}

.weatherCond {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: white;
}

.weatherDescription {
  font-family: "Poppins", sans-serif;
  font-size: 0.6rem;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherIconImage {
  height: 10vh;
}

.temperature {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.temperature h1 {
  font-weight: 300;
}

.windSpeed,
.pressure,
.windHumidity {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh;
}

.windSpeedData,
.humidityData,
.pressureData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5vw;
}

.speedIcon,
.humidityIcon,
.pressureIcon {
  height: 2vh;
}

.timer {
  background-color: #191e39;
  border-radius: 50%;
  height: 35vh;
  width: 35vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 1vh;
}

.timer h2 {
  font-size: 3rem;
  font-weight: lighter;
}

.timerBorder {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  border: 6px solid #ff6a6a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adjustTimer {
  display: grid;
  grid-template-rows: 5vh 3vh 13vh 3vh 5vh;
  gap: 1vh;
  font-family: "Poppins", sans-serif;
}

.timerTitles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.title p {
  font-size: 1.3rem;
  color: #949494;
}

.upArrows,
.downArrows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.dArrow {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.upArrow,
.downArrow {
  height: 2vh;
}
.numbers {
  display: grid;
  grid-template-columns: 14.5vw 1vw 13vw 1vw 14.5vw;
  font-size: 4.5rem;
  color: white;
}

.num {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.startButton {
  display: flex;
  justify-content: center;
}
.startButton button {
  width: 80%;
  border-radius: 1.25rem;
  border: none;
  background-color: #ff6a6a;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.browseButton {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2vh;
}

.nextButton {
  width: 7vw;
  border: none;
  background-color: #148a08;
  padding: 1.5vh;
  border-radius: 1.25rem;
  margin-right: 3.5vw;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
